@use './App.scss';

$appContainerWidth: 1440px;

.main-placement-4 {
	grid-row: 5/5;
}

.carousel-container {
	margin: 0 auto;
	max-width: calc($appContainerWidth + 40px);
	padding: 40px 20px 60px;
	white-space: nowrap;

	h4 {
		font-size: 28px;
		font-family: AgrandirLight;
	}

	.title {
		margin-bottom: 16px;
		max-width: 100%;
		padding-left: 8px;
		text-align: left;
	}

	.store-carousel {
		display: flex;
		justify-content: center;
	}
}

.wrapper {
	position: relative;
	box-sizing: border-box;
	user-select: none;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.carousel {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.carousel-track {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.carousel-arrow {
	align-items: center;
	background-color: #1c1c1c;
	color: #fff;
	cursor: pointer;
	display: flex;
	height: 44px;
	justify-content: center;
	top: 50%;
	transform: translateY(-50%);
	width: 44px;
	z-index: 1;
}

.arrow-left {
	position: absolute;
	left: -20px;
}

.arrow-right {
	position: absolute;
	right: -20px;
}

.slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

.slide,
.slide-init {
	display: block;
}

@media (max-width: 600px) {
	.carousel-container {
		padding-right: 0;

		.title {
			h4 {
				font-size: 26px;
			}
		}
	}
}
