$colorGrey: #333;
$colorWhite: #fff;
$colorDarkGrey: #1c1c1c;
$colorMediumGrey: #c1c1c1;
$colorLightGrey: #f3f4f4;
$bgColorPrimary: #f3f4f4;
$bgColorSecondary: #1c1c1c;
$bgColorTertiary: #fff;
$appContainerWidth: 1440px;
