@use './variables' as v;

@font-face {
	font-family: 'Agrandir';
	src: url('../assets/fonts/Agrandir-GrandMedium.otf') format('opentype');
}

@font-face {
	font-family: 'AgrandirLight';
	src: url('../assets/fonts/Agrandir-GrandThin.otf') format('opentype');
}

@font-face {
	font-family: 'AgrandirRegular';
	src: url('../assets/fonts/Agrandir-GrandRegular.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica';
	src: url('../assets/fonts/HelveticaNeue.woff');
}

@font-face {
	font-family: 'HelveticaBold';
	src: url('../assets/fonts/HelveticaNeueBold.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaLight';
	src: url('../assets/fonts/HelveticaLight.woff2');
}

*,
:after,
:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Helvetica !important;
	background-color: v.$bgColorPrimary;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100hv;
	width: 100%;
	overflow-x: hidden;
}

.one-column-layout {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: max-content;
	margin: 0 auto;
	background-color: v.$bgColorPrimary;
}

#mobile {
	display: none;
	height: 90px;
}

@media (max-height: 820px) {
	#mobile {
		display: block;
	}
}

#desktop {
	height: 76px;
	display: none;
}

@media (min-height: 821px) {
	#desktop {
		display: block;
	}
}

.one-column-layout-row {
	z-index: 1;
	background-color: v.$bgColorPrimary;
}

@media (max-width: 600px) {
	.one-column-layout-row {
		height: 100%;
	}
}

.img-wrapper {
	display: block;
	overflow: hidden;
	position: absolute;
	inset: 0px;
	box-sizing: border-box;
	margin: 0px;
}

.square-button {
	height: 44px;
	text-transform: uppercase;
	min-width: 81px;
	cursor: pointer;
	font-size: 14px;
	border: none;
	outline: none;
	padding: 0 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;

	&:hover {
		background-color: v.$colorGrey;
	}

	&:disabled {
		background-color: v.$colorMediumGrey;

		&:hover {
			background-color: #c8c7c7;
		}
	}
}

.square-button > svg {
	margin-right: 0.5em;
	stroke-width: 1px;
	flex-shrink: 0;
}

.square-button-primary {
	background-color: #1c1c1c;
	color: #fff;
}

.square-button-secondary {
	background-color: transparent;
	border: 1px solid v.$colorDarkGrey;

	&:hover {
		background-color: transparent;
	}
}

.square-button-invert-secondary {
	border-color: v.$colorWhite;
	color: v.$colorWhite;
}
